<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/36459b9b-bc62-4ce6-a4ca-e9b27b1cc77d/v3/index.json" />
  </packageSources>
</configuration>