@page "/counter"
@using BlazorServerAppDemp.Componets

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
@* <ContactComponent FirstName="Kamal" LastName="Rana" Email="kamal@gmail.com"></ContactComponent> *@
<input @bind="currentCount"/>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
