@page "/"
@inherits BookStoreComponentBase
<div class="row entry-row">
    <div class="col-auto">
        <h1 class="content-header-title">Welcome to KamalWorld !</h1>
    </div>
</div>
<Card>
    <CardBody>
       
    </CardBody>
</Card>


